/* Custom Properties */
:root {
  --main-font: 'Raleway';
  --alternate-font: sans-serif;
  --font-size: 16px;
  --line-height: 1.6;

  --main-color: #0096D9;
  --main-modal-color: rgba(0, 150, 217, .75);
  --second-color: #171226;
  --second-modal-color: rgba(23, 18, 38, .75);

  --bg-color: #FFF;
  --bg-modal-color: rgba(0, 0, 0, .5);
  --bg-alternate-color: #F3F3F3;
  --border-color: #DDD;

  --text-color: #333;
  --title-color: var(--second-color);

  --link-color: var(--main-color);
  --link-hover-color: var(--second-color);

  --nav-height: 56px;
}

/* Reset Styles */
html {
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height:  var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: all .3s ease-out;
}

a:hover { color: var(--link-hover-color); }

::selection {
  background-color: var(--main-color);
  color: var(--second-color);
}

/* Navbar Materialize */
nav {
  background-color: var(--second-color);
  height: var(--nav-height);
  line-height: var(--nav-height);
}

.brand-logo img { max-height: var(--nav-height); }

.sidenav-trigger:hover { color: var(--main-color); }

.sidenav li:hover { background-color: var(--main-modal-color); }

.sidenav {
  background-color: var(--second-modal-color);
  top: var(--nav-height);
}

.sidenav li > a,
.desktop-nav {
  color: var(--main-color);
  font-size: 1.25rem;
  font-weight: bold;
  transition: all .3s ease;
}

.sidenav li > a:hover { color: var(--bg-color); }

.desktop-nav a:hover {
  color: var(--bg-color);
  background-color: var(--main-modal-color);
}

/* Cuando queramos una .navbar-fixed, el overlay del menu móvil tapa los enlaces, hay que aplicarle este valor de z-index al .sidenav-overlay, para que se vuelvan interactivos nuevamente */
.sidenav-overlay { z-index: 996; }

/* Sticky footer Materialize */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main { flex: 1 0 auto; }

/* page-footer Materialize */
.page-footer {
  color: var(--text-color);
  background-color: var(--bg-alternate-color);
}

/* SocialMedia */
.SocialMedia {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

/* Footer-copy */
@media only screen and (min-width: 993px) {
  .Footer-copy { float: left; }
}

/* Sentence */
.Sentence {
  padding: 1rem;
  text-align: center;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3vw;
}

.Sentence blockquote {
  padding-left: 0;
  border-left: 0;
}

.Sentence cite { font-size: 2vw; }

/* HeroImage */
.HeroImage {
  margin-top: -.5rem;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: var(--bg-url);
  background-attachment: var(--bg-attach);
  background-size: var(--bg-size);
  background-position-x: var(--bg-x);
  background-position-y: var(--bg-y);
}

.HeroImage > div {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-modal-color);
}

.HeroImage h2 {
  padding: 0 1rem;
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 5vw;
  color: var(--bg-color);
}

.HeroImage span { display: block; }

/* MarathonHistory */
.MarathonHistory .row {
  display: flex;
  flex-wrap: wrap;
}

.MarathonHistory .col {
  display: flex;
  flex-direction: column;
}

.MarathonHistory img {
  flex: auto;
  object-fit: cover;
}

/* HeroBio */
.HeroBio p { font-size: 1.25rem; }

/* MarathonsLogos */
.MarathonsLogos .col {
  background-color: var(--bg-color);
  transition: all .3s ease-out;
}

.MarathonsLogos .col:hover { filter: invert(1); }

/* MarathonsCards */
.MarathonsCards .card-title {
  width: 100%;
  height: 100%;
  font-weight: bold;
  background-color: var(--bg-modal-color);
}

.MarathonsCards .card-action a {
  color: var(--link-color) !important;
  text-transform: lowercase !important;
}

.MarathonsCards .card-action a:hover { color: var(--link-hover-color) !important; }

/* Forms de Materialize */
/* label color */
.input-field label,
.input-field .prefix.active {
  color: var(--main-color);
}

/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus + label {
  color: var(--main-color) !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

.input-field .prefix.active {
  color: var(--main-color) !important;
}

.input-field .btn { background-color: var(--main-color); }

.input-field .btn:hover { background-color: var(--second-color); }

/* valid color */
/* .input-field input.valid,
.input-field textarea.valid {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
} */

/* invalid color */
/* .input-field input.invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid var(--second-color) !important;
  box-shadow: 0 1px 0 0 var(--second-color) !important;
} */

.form-message {
  padding: 1rem !important;
}